@model List<Booking>

<h1>All Bookings</h1>

<p>
    <a asp-action="Create" class="btn" style="background-color:#D4AF37;color:white">Add New Booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                checkin
            </th>
            <th>
                checkout
            </th>
            <th>
                TotalPrice
            </th>
            <th>Room Type</th>
            <th>Guest Name</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CheckInDate
                </td>
                <td>
                    @item.CheckOutDate
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    @item.Room.RoomType.Name
                </td>
                <td>
                    @item.User.FirstName  @item.User.LastName
                </td>
               
            </tr>
        }
    </tbody>
</table>